Debug/StackAI.tlog
*.sarif
Debug/CodeAnalysisResultManifest.txt
*.obj
Debug
Release
cpplint.py
StackAI.vcxproj
StackAI.vcxproj.filters
assets/terminal24 - Kopie.png

# Project CMake build directory
build
# Build and test log files
build.log
test.log
# CppCheck log file
cppcheck.log
# Test related files
Testing
# QtCreator or other CMake based editor config file
CMakeLists.txt.user
# VSCode config file
.vscode/settings.json
